<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Load-datasets" data-toc-modified-id="Load-datasets-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Load datasets</a></span></li><li><span><a href="#Data-preprocessing" data-toc-modified-id="Data-preprocessing-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data preprocessing</a></span><ul class="toc-item"><li><span><a href="#'sales_weather'-dataset-preprocessing" data-toc-modified-id="'sales_weather'-dataset-preprocessing-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>'sales_weather' dataset preprocessing</a></span></li><li><span><a href="#'beef_df'-preprocessing" data-toc-modified-id="'beef_df'-preprocessing-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>'beef_df' preprocessing</a></span></li><li><span><a href="#'pork_df'-preprocessing" data-toc-modified-id="'pork_df'-preprocessing-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>'pork_df' preprocessing</a></span></li></ul></li></ul></div>

# Load datasets

In [1]:
import pandas as pd
import numpy as np
import os
os.chdir('/Users/younghun/Desktop/gitrepo/data/woochuri/')

In [115]:
# 우추리 일별 매출 데이터
sales = pd.read_excel('./woochuri_sales.xlsx')
sales['datetime'] = pd.Series(pd.date_range(start='2013-01-07',
                                           end='2020-12-31',
                                           freq='D'))
cols = ['datetime', 'sales', 'remark']
sales = sales[cols]
sales = sales.rename(columns={'datetime':'시간', 'sales':'일매출'})

# 일별 날씨 데이터 
weather = pd.read_csv('past_weather.csv', index_col=[0])
weather['시간'] = pd.to_datetime(weather['시간'])

# 두 데이터 merge
sales_weather = sales.merge(weather, how='inner', on='시간')
sales_weather.shape

(2916, 15)

In [84]:
# 소, 돼지 지역별 가격 데이터 각각 로드
import pymysql
db = pymysql.connect(host='localhost', user='younghun',
                    password='watson1259', db='beef_pork_db',
                    charset='utf8')
cursor = db.cursor()

beef_sql = "SELECT * FROM beef_prices"
pork_sql = "SELECT * FROM pork_prices"

beef_df = pd.read_sql(beef_sql, db)
pork_df = pd.read_sql(pork_sql, db)

beef_df.shape, pork_df.shape

((14647, 5), (12619, 5))

- 지역별 가격 중 한우, 육우별로 수도권/중부권/전국 지역 중 어떤 것을 선택할지 도메인 지식 전문가에게 물어보기

# Data preprocessing
## 'sales_weather' dataset preprocessing

In [5]:
# check dtype of features
sales_weather.dtypes

시간          datetime64[ns]
일매출                  int64
remark              object
지역                  object
평균기온               float64
최저기온               float64
최고기온               float64
1시간최다강수량           float64
일강수량               float64
평균풍속               float64
최대풍속               float64
평균상대습도             float64
최소상대습도               int64
1시간최다일사량           float64
일사량                float64
dtype: object

In [6]:
# check missing values of features
sales_weather.isnull().sum()

시간             0
일매출            0
remark      2822
지역             0
평균기온           0
최저기온           0
최고기온           0
1시간최다강수량    2202
일강수량        1733
평균풍속           2
최대풍속           0
평균상대습도         1
최소상대습도         0
1시간최다일사량       7
일사량            7
dtype: int64

In [7]:
# replace NaN values with zero value excluding with 'remark' feature
sales_weather[['1시간최다강수량','일강수량','평균풍속','평균상대습도','1시간최다일사량','일사량']] = sales_weather[['1시간최다강수량','일강수량','평균풍속','평균상대습도','1시간최다일사량','일사량']].fillna(value=0)
sales_weather.isnull().sum()

시간             0
일매출            0
remark      2822
지역             0
평균기온           0
최저기온           0
최고기온           0
1시간최다강수량       0
일강수량           0
평균풍속           0
최대풍속           0
평균상대습도         0
최소상대습도         0
1시간최다일사량       0
일사량            0
dtype: int64

## 'beef_df' preprocessing
- 소 지역별 가격 데이터
- 요일별로 나누어야 함
- 주의해야 할 점
    * 주말(토, 일)같은 경우는 빠져 있음
        * 그러므로 금요일 가격으로 대체하는 것이 좋을듯!
    * 지역값이 칼럼으로 가도록 Pivot 시키기

In [85]:
# 대전은 중부권이기 떄문에 중부권 가격만 추출
beef_df = beef_df[beef_df['지역'] == '중부권']
hanwoo_df = beef_df[beef_df['종류'] == '한우']
yukwoo_df = beef_df[beef_df['종류'] == '육우']

hanwoo_df = hanwoo_df.rename(columns={'종류': '한우', '가격': '한우가격'})
yukwoo_df = yukwoo_df.rename(columns={'종류': '육우', '가격': '육우가격'})
common_cols = ['날짜', '동물', '지역']
beef_df = hanwoo_df.merge(yukwoo_df, how='inner', on=common_cols)
print('중복 제거하기 전 shape:', beef_df.shape)
unique_beef_df = beef_df.drop_duplicates()
print('중족 제거 후 shape:', unique_beef_df.shape)

중복 제거하기 전 shape: (3493, 7)
중족 제거 후 shape: (1907, 7)

In [92]:
raw_date_df = pd.DataFrame(pd.date_range(start='2013-01-07', end='2020-12-31', freq='D'))
raw_date_df = raw_date_df.rename(columns={0: '날짜'})
merge_beef_df = raw_date_df.merge(unique_beef_df, how='left', on='날짜')
# 데이터가 없는 날짜는 직전 날의 가격으로 대체
merge_beef_df = merge_beef_df.fillna(method='ffill')

## 'pork_df' preprocessing

In [94]:
# 도메인 지식 상 시중에 판매되는 돼지고기 중 96.2%가 돼지 탕박임 -> 따라서 돼지 박피 데이터는 제거
# 또한 대전은 중부권이긴 하지만 지역의 종류에는 수도권, 영남권, 전국 밖에 없으므로 전국 값만 추출
cond_tang = pork_df['종류'] == '탕박'
cond_n = pork_df['지역'] == '전국'
pork_df = pork_df[(cond_tang)&(cond_n)]
pork_df = pork_df.drop_duplicates()

In [100]:
# 원래 범위의 날짜로 이루어진 데이터 프레임 만들고 이를 기준으로 left join 시키기
raw_date_df = pd.DataFrame(pd.date_range(start='2013-01-07', end='2020-12-31', freq='D'))
raw_date_df = raw_date_df.rename(columns={0: '날짜'})
merge_pork_df = raw_date_df.merge(pork_df, how='left', on='날짜')
merge_pork_df = merge_pork_date_df.fillna(method='ffill')
merge_pork_df = merge_pork_df.rename(columns={'가격': '돼지탕박가격'})

In [101]:
print('소 가격 데이터 shape:', merge_beef_df.shape)
print('돼지 가격 데이터 shape:', merge_pork_date_df.shape)
print(len(pd.date_range(start='2013-01-07', end='2020-12-31', freq='D')))

소 가격 데이터 shape: (2916, 7)
돼지 가격 데이터 shape: (2916, 5)
2916

In [104]:
# 한우, 육우, 돼지탕박 일자별 가격 병합한 데이터셋 만들기
merge_df = merge_beef_df.merge(merge_pork_df, how='inner', on='날짜')
columns = ['날짜', '한우가격', '육우가격', '돼지탕박가격']
beef_pork_df = merge_df[columns]
print('한우&육우&돼지탕박 일자별 가격 데이터프레임 shape:', beef_pork_df.shape)
beef_pork_df.head()

한우&육우&돼지탕박 일자별 가격 데이터프레임 shape: (2916, 4)

          날짜     한우가격    육우가격  돼지탕박가격
0 2013-01-07  14548.0  9169.0  3140.0
1 2013-01-08  15082.0  8105.0  3024.0
2 2013-01-09  15030.0  9669.0  3096.0
3 2013-01-10  15229.0  9674.0  3000.0
4 2013-01-11  14920.0  8286.0  2963.0

---

In [116]:
# remark의 결측치값은 모두 평일로 대체
sales['remark'] = sales['remark'].fillna('평일')

In [153]:
import holidays
from datetime import date
kor_holidays = holidays.Korea(years=[d for d in range(2013, 2021)])

holidays_dates = []
holidays_names = []
for date, name in kor_holidays.items():
    holidays_dates.append(date)
    holidays_names.append(name)
# 2013년 1월 7일부터이기 때문에 2013년 1월 7일 이전 공휴일은 설날 밖에없기 때문에 가장 첫 번째 요소 제거
holidays_df = pd.DataFrame({'공휴일날짜': holidays_dates,
                            '공휴일명': holidays_names}).sort_values(by='공휴일날짜')
holidays_df['공휴일날짜'] = pd.to_datetime(holidays_df['공휴일날짜'])

# sales(매출) 데이터로 날짜 기준으로 outer join 시키기
# 병합시킬 때 공휴일 데이터프레임 가장 첫 번째 행은 제외. 왜냐하면 2013년 1월 7일부터 데이터가 시작이기 때문!
sales_holiday_df = sales.merge(holidays_df.iloc[1:], how='outer', left_on='시간', right_on='공휴일날짜')

In [154]:
# loop돌면서 공휴일 직전으로 몇 일인지 파생변수 만들기 -> 어떻게 만들어볼까..?
sales_holiday_df.head(100)

,시간,일매출,remark,공휴일날짜,공휴일명
0,2013-01-07,422400,평일,NaT,NaN
1,2013-01-08,461900,평일,NaT,NaN
2,2013-01-09,492500,평일,NaT,NaN
3,2013-01-10,701300,평일,NaT,NaN
4,2013-01-11,1035000,평일,NaT,NaN
5,2013-01-12,1168600,평일,NaT,NaN
6,2013-01-13,696000,평일,NaT,NaN
7,2013-01-14,542000,평일,NaT,NaN
8,2013-01-15,503500,평일,NaT,NaN
9,2013-01-16,360500,평일,NaT,NaN
10,2013-01-17,369000,평일,NaT,NaN
11,2013-01-18,450300,평일,NaT,NaN
12,2013-01-19,906200,평일,NaT,NaN
13,2013-01-20,547700,평일,NaT,NaN
14,2013-01-21,330500,평일,NaT,NaN
15,2013-01-22,374900,평일,NaT,NaN
16,2013-01-23,402000,평일,NaT,NaN
17,2013-01-24,816400,평일,NaT,NaN
18,2013-01-25,482500,평일,NaT,NaN
19,2013-01-26,830500,평일,NaT,NaN
20,2013-01-27,619300,평일,NaT,NaN
21,2013-01-28,285500,평일,NaT,NaN
22,2013-01-29,548500,평일,NaT,NaN
23,2013-01-30,425700,평일,NaT,NaN
24,2013-01-31,388400,평일,NaT,NaN
25,2013-02-01,705900,평일,NaT,NaN
26,2013-02-02,1061700,평일,NaT,NaN
27,2013-02-03,797300,평일,NaT,NaN
28,2013-02-04,1332500,평일,NaT,NaN
29,2013-02-05,1390000,평일,NaT,NaN
30,2013-02-06,3145000,평일,NaT,NaN
31,2013-02-07,5262500,평일,NaT,NaN
32,2013-02-08,7455480,평일,NaT,NaN
33,2013-02-09,5430500,평일,2013-02-09,The day preceding of Lunar New Year's Day
34,2013-02-10,0,설휴무,2013-02-10,Lunar New Year's Day
35,2013-02-11,0,설휴무,2013-02-11,The second day of Lunar New Year's Day
36,2013-02-12,106000,평일,NaT,NaN
37,2013-02-13,265000,평일,NaT,NaN
38,2013-02-14,119000,평일,NaT,NaN
39,2013-02-15,293000,평일,NaT,NaN
40,2013-02-16,428000,평일,NaT,NaN
41,2013-02-17,653000,평일,NaT,NaN
42,2013-02-18,507000,평일,NaT,NaN
43,2013-02-19,243000,평일,NaT,NaN
44,2013-02-20,416000,평일,NaT,NaN
45,2013-02-21,534000,평일,NaT,NaN
46,2013-02-22,696200,평일,NaT,NaN
47,2013-02-23,419000,평일,NaT,NaN
48,2013-02-24,400000,평일,NaT,NaN
49,2013-02-25,338000,평일,NaT,NaN
50,2013-02-26,478000,평일,NaT,NaN
51,2013-02-27,340000,평일,NaT,NaN
52,2013-02-28,324000,평일,NaT,NaN
53,2013-03-01,420500,평일,2013-03-01,Independence Movement Day
54,2013-03-02,951100,평일,NaT,NaN
55,2013-03-03,0,특이휴무,NaT,NaN
56,2013-03-04,402900,평일,NaT,NaN
57,2013-03-05,269800,평일,NaT,NaN
58,2013-03-06,303000,평일,NaT,NaN
59,2013-03-07,363000,평일,NaT,NaN
60,2013-03-08,616200,평일,NaT,NaN
61,2013-03-09,1038600,평일,NaT,NaN
62,2013-03-10,644000,평일,NaT,NaN
63,2013-03-11,357300,평일,NaT,NaN
64,2013-03-12,175500,평일,NaT,NaN
65,2013-03-13,460800,평일,NaT,NaN
66,2013-03-14,616800,평일,NaT,NaN
67,2013-03-15,440000,평일,NaT,NaN
68,2013-03-16,718000,평일,NaT,NaN
69,2013-03-17,708000,평일,NaT,NaN
70,2013-03-18,286800,평일,NaT,NaN
71,2013-03-19,243000,평일,NaT,NaN
72,2013-03-20,367900,평일,NaT,NaN
73,2013-03-21,387000,평일,NaT,NaN
74,2013-03-22,518100,평일,NaT,NaN
75,2013-03-23,923900,평일,NaT,NaN
76,2013-03-24,801300,평일,NaT,NaN
77,2013-03-25,546600,평일,NaT,NaN
78,2013-03-26,501000,평일,NaT,NaN
79,2013-03-27,139000,평일,NaT,NaN
80,2013-03-28,526800,평일,NaT,NaN
81,2013-03-29,495500,평일,NaT,NaN
82,2013-03-30,851000,평일,NaT,NaN
83,2013-03-31,994000,평일,NaT,NaN
84,2013-04-01,587500,평일,NaT,NaN
85,2013-04-02,341000,평일,NaT,NaN
86,2013-04-03,422500,평일,NaT,NaN
87,2013-04-04,573000,평일,NaT,NaN
88,2013-04-05,868300,평일,NaT,NaN
89,2013-04-06,579000,평일,NaT,NaN
90,2013-04-07,708700,평일,NaT,NaN
91,2013-04-08,588100,평일,NaT,NaN
92,2013-04-09,474500,평일,NaT,NaN
93,2013-04-10,239000,평일,NaT,NaN
94,2013-04-11,420000,평일,NaT,NaN
95,2013-04-12,931000,평일,NaT,NaN
96,2013-04-13,817600,평일,NaT,NaN
97,2013-04-14,655900,평일,NaT,NaN
98,2013-04-15,472500,평일,NaT,NaN
99,2013-04-16,331900,평일,NaT,NaN