# India e-commerce data analysis

<b>인도 e-commerce 웹사이트가 출처인 데이터</b>

- <b>데이터 종류</b>
    * order_list
        - 변수 : 주문ID, 주문날짜, 주문고객 이름, 주문고객이 거주하는 State와 city
    * order_detail
        - 변수 : 주문ID, 주문결제금액, 주문당 순이익, 구매양, 구매물품 카테고리/서브 카테고리
    * sales_target 
        - 변수 : 주문 날짜, 구매물품 카테고리, 해당 카테고리의 목표매출
        
        
- <b>가설 설정</b>
    * "품목 카테고리별 목표매출 달성했다면 어떤 날짜, 시간, 지역에서 주문이 많이 발생하는가?"
    * "품목 카테고리별 목표매출 달성하지 못했다면 어떤 날짜, 시간, 지역을 위해서 마케팅을 펼쳐야 할까?"



- <b>데이터 미리보기만 보고 내린 분석 설계</b>
    * order_list와 order_detail의 공통 key인 'Order ID'를 기준으로 분석하자
    * order_lsit와 sales_target의 공통 key인 '주문 날짜'를 기준으로 분석하자
    * 그리고 3가지 데이터를 총체적으로 결합해서 인사이트 도출해보기

In [2]:
import pandas as pd
import numpy as np
import os
os.chdir('/Users/younghun/Desktop/gitrepo/data')

In [5]:
# 데이터 로드
order_list = pd.read_csv('List of Orders.csv', encoding='utf-8')
order_detail = pd.read_csv('Order Details.csv', encoding='utf-8')
sales_target = pd.read_csv('Sales target.csv', encoding='utf-8')

print("order_list shape :", order_list.shape)
print("order_detail shape :", order_detail.shape)
print(f"sales_target shape :", sales_target.shape)

order_list shape : (560, 5)
order_detail shape : (1500, 6)
sales_target shape : (36, 3)

In [6]:
# 가설설정하기 전에 데이터 미리보기1
order_list.head()

  Order ID  Order Date CustomerName           State       City
0  B-25601  01-04-2018       Bharat         Gujarat  Ahmedabad
1  B-25602  01-04-2018        Pearl     Maharashtra       Pune
2  B-25603  03-04-2018        Jahan  Madhya Pradesh     Bhopal
3  B-25604  03-04-2018       Divsha       Rajasthan     Jaipur
4  B-25605  05-04-2018      Kasheen     West Bengal    Kolkata

In [8]:
# 가설설정하기 전에 데이터 미리보기2
order_detail.head()

  Order ID  Amount  Profit  Quantity     Category      Sub-Category
0  B-25601  1275.0 -1148.0         7    Furniture         Bookcases
1  B-25601    66.0   -12.0         5     Clothing             Stole
2  B-25601     8.0    -2.0         3     Clothing       Hankerchief
3  B-25601    80.0   -56.0         4  Electronics  Electronic Games
4  B-25602   168.0  -111.0         2  Electronics            Phones

In [9]:
# 가설설정하기 전에 데이터 미리보기3
sales_target.head()

  Month of Order Date   Category   Target
0              Apr-18  Furniture  10400.0
1              May-18  Furniture  10500.0
2              Jun-18  Furniture  10600.0
3              Jul-18  Furniture  10800.0
4              Aug-18  Furniture  10900.0

## Data cleansing

### order_list 데이터 cleansing

In [14]:
# 중복 데이터 있는지 살펴보기 -> 59개 존재한다.
order_list.duplicated().sum()

59

In [15]:
# 중복 데이터가 무엇인지 살펴보자 -> 결측치 인듯 싶다.
order_list[order_list.duplicated()]

    Order ID Order Date CustomerName State City
501      NaN        NaN          NaN   NaN  NaN
502      NaN        NaN          NaN   NaN  NaN
503      NaN        NaN          NaN   NaN  NaN
504      NaN        NaN          NaN   NaN  NaN
505      NaN        NaN          NaN   NaN  NaN
506      NaN        NaN          NaN   NaN  NaN
507      NaN        NaN          NaN   NaN  NaN
508      NaN        NaN          NaN   NaN  NaN
509      NaN        NaN          NaN   NaN  NaN
510      NaN        NaN          NaN   NaN  NaN
511      NaN        NaN          NaN   NaN  NaN
512      NaN        NaN          NaN   NaN  NaN
513      NaN        NaN          NaN   NaN  NaN
514      NaN        NaN          NaN   NaN  NaN
515      NaN        NaN          NaN   NaN  NaN
516      NaN        NaN          NaN   NaN  NaN
517      NaN        NaN          NaN   NaN  NaN
518      NaN        NaN          NaN   NaN  NaN
519      NaN        NaN          NaN   NaN  NaN
520      NaN        NaN          NaN   NaN  NaN
521      NaN        NaN          NaN   NaN  NaN
522      NaN        NaN          NaN   NaN  NaN
523      NaN        NaN          NaN   NaN  NaN
524      NaN        NaN          NaN   NaN  NaN
525      NaN        NaN          NaN   NaN  NaN
526      NaN        NaN          NaN   NaN  NaN
527      NaN        NaN          NaN   NaN  NaN
528      NaN        NaN          NaN   NaN  NaN
529      NaN        NaN          NaN   NaN  NaN
530      NaN        NaN          NaN   NaN  NaN
531      NaN        NaN          NaN   NaN  NaN
532      NaN        NaN          NaN   NaN  NaN
533      NaN        NaN          NaN   NaN  NaN
534      NaN        NaN          NaN   NaN  NaN
535      NaN        NaN          NaN   NaN  NaN
536      NaN        NaN          NaN   NaN  NaN
537      NaN        NaN          NaN   NaN  NaN
538      NaN        NaN          NaN   NaN  NaN
539      NaN        NaN          NaN   NaN  NaN
540      NaN        NaN          NaN   NaN  NaN
541      NaN        NaN          NaN   NaN  NaN
542      NaN        NaN          NaN   NaN  NaN
543      NaN        NaN          NaN   NaN  NaN
544      NaN        NaN          NaN   NaN  NaN
545      NaN        NaN          NaN   NaN  NaN
546      NaN        NaN          NaN   NaN  NaN
547      NaN        NaN          NaN   NaN  NaN
548      NaN        NaN          NaN   NaN  NaN
549      NaN        NaN          NaN   NaN  NaN
550      NaN        NaN          NaN   NaN  NaN
551      NaN        NaN          NaN   NaN  NaN
552      NaN        NaN          NaN   NaN  NaN
553      NaN        NaN          NaN   NaN  NaN
554      NaN        NaN          NaN   NaN  NaN
555      NaN        NaN          NaN   NaN  NaN
556      NaN        NaN          NaN   NaN  NaN
557      NaN        NaN          NaN   NaN  NaN
558      NaN        NaN          NaN   NaN  NaN
559      NaN        NaN          NaN   NaN  NaN

In [16]:
# 결측치 개수가 중복데이터 개수와 동일한지 살펴보기 -> NaN(결측치) 데이터도 1개는 unique한 것으로 치기 때문에 중복데이터 59개 더하면 
# 결측치 개수 60개와 동일함.
# 따라서 중복 데이터 = 결측치 데이터
order_list.isnull().sum()

Order ID        60
Order Date      60
CustomerName    60
State           60
City            60
dtype: int64

In [18]:
# 모든 변수에 결측치가 있기 때문에 결측치를 대체할만한 근거가 없음. 따라서 결측치 삭제해주기
order_list.dropna(inplace=True)
order_list.isnull().sum()

Order ID        0
Order Date      0
CustomerName    0
State           0
City            0
dtype: int64

In [20]:
# 칼럼별 data type 살펴보기
order_list.dtypes

Order ID        object
Order Date      object
CustomerName    object
State           object
City            object
dtype: object

In [23]:
# Order Date칼럼 값들을 Datetime형태로 바꿔주기
order_list['Order Date'] = pd.to_datetime(order_list['Order Date'])
order_list.dtypes

Order ID                object
Order Date      datetime64[ns]
CustomerName            object
State                   object
City                    object
dtype: object

In [24]:
order_list.head()

  Order ID Order Date CustomerName           State       City
0  B-25601 2018-01-04       Bharat         Gujarat  Ahmedabad
1  B-25602 2018-01-04        Pearl     Maharashtra       Pune
2  B-25603 2018-03-04        Jahan  Madhya Pradesh     Bhopal
3  B-25604 2018-03-04       Divsha       Rajasthan     Jaipur
4  B-25605 2018-05-04      Kasheen     West Bengal    Kolkata

### order_detail 데이터 cleansing

In [26]:
# 중복 데이터 여부 확인 -> 중복 데이터 없음
order_detail.duplicated().sum()

0

In [28]:
# 결측치 데이터 확인  -> 결측치 데이터 없음
order_detail.isnull().sum()

Order ID        0
Amount          0
Profit          0
Quantity        0
Category        0
Sub-Category    0
dtype: int64

In [30]:
# data의 type들은 제대로 설정되어 있음.
order_detail.dtypes

Order ID         object
Amount          float64
Profit          float64
Quantity          int64
Category         object
Sub-Category     object
dtype: object

### sales_target 데이터 cleansing

In [35]:
# 중복 데이터 확인 -> 없음
sales_target.duplicated().sum()

0

In [37]:
# 결측치 데이터 확인 -> 없음
sales_target.isnull().sum()

Month of Order Date    0
Category               0
Target                 0
dtype: int64

In [40]:
# 데이터 타입 확인 
sales_target.dtypes

Month of Order Date     object
Category                object
Target                 float64
dtype: object

* Month of Order Date 값들 Datetime형태에 맞게 바꿔주자

In [42]:
# 'month-date' 인지 'month-year'인지 확인해보기 -> 'month-year'임을 확인!
sales_target['Month of Order Date'].unique()

array(['Apr-18', 'May-18', 'Jun-18', 'Jul-18', 'Aug-18', 'Sep-18',
       'Oct-18', 'Nov-18', 'Dec-18', 'Jan-19', 'Feb-19', 'Mar-19'],
      dtype=object)

In [71]:
# Datetime 형태로 바꿔주기 위해 Month 문자열을 숫자로 바꿔주기
months_dict = {'Apr':'4', 'May':'5', 'Jun':'6', 'Jul':'7', 'Aug':'8', 'Sep':'9', 'Oct':'10',
              'Nov':'11', 'Dec':'12', 'Jan':'1', 'Feb':'2', 'Mar':'3'}
def convert_to_dt(df):
    for month in months_dict.keys():
        if df['Month of Order Date'].split('-')[0] in months_dict.keys():
            df['Month of Order Date'] = df['Month of Order Date'].replace(month, months_dict[month])
    return df

In [74]:
month_year_df = sales_target.apply(convert_to_dt, axis=1).copy()
month_year_df.head()

  Month of Order Date   Category   Target
0                4-18  Furniture  10400.0
1                5-18  Furniture  10500.0
2                6-18  Furniture  10600.0
3                7-18  Furniture  10800.0
4                8-18  Furniture  10900.0

In [77]:
# Datetime형태로 바꿔줌으로써 월별 데이터로 전환
# 일(day)는 1일 이지만 월별 데이터임!!
month_year_df['Month of Order Date'] = pd.to_datetime(month_year_df['Month of Order Date'], format='%m-%y')
month_year_df = month_year_df.sort_values(by=['Month of Order Date'])
month_year_df.head(10)

   Month of Order Date     Category   Target
0           2018-04-01    Furniture  10400.0
24          2018-04-01  Electronics   9000.0
12          2018-04-01     Clothing  12000.0
1           2018-05-01    Furniture  10500.0
25          2018-05-01  Electronics   9000.0
13          2018-05-01     Clothing  12000.0
2           2018-06-01    Furniture  10600.0
26          2018-06-01  Electronics   9000.0
14          2018-06-01     Clothing  12000.0
3           2018-07-01    Furniture  10800.0

In [78]:
# 칼럼명을 '월별 데이터' 추가해서 인지하도록 하기
month_year_df.rename(columns={'Month of Order Date':'Monthly Order Date'}, inplace=True)
month_year_df.head(2)

   Monthly Order Date     Category   Target
0          2018-04-01    Furniture  10400.0
24         2018-04-01  Electronics   9000.0

In [80]:
# reset indexing 해주기
month_year_df.reset_index(drop=True, inplace=True)
month_year_df.head()

  Monthly Order Date     Category   Target
0         2018-04-01    Furniture  10400.0
1         2018-04-01  Electronics   9000.0
2         2018-04-01     Clothing  12000.0
3         2018-05-01    Furniture  10500.0
4         2018-05-01  Electronics   9000.0

## Exploring data

### order_list data

In [84]:
# object타입의 칼럼들 통계량 요약
order_list.describe(include='object')

       Order ID CustomerName           State    City
count       500          500             500     500
unique      500          332              19      24
top     B-25992       Shreya  Madhya Pradesh  Indore
freq          1            6             101      76

- Order ID는 중복없이 모두 1개씩 unique한 값들이다


- CustomerName에서는 가장 많이 구매한 고객이름은 'Shreya'이다. 그런데 빈도수는 6번으로 전체 500번중에 6번이며 다른 고객들과 빈도수의 차이가 얼마 나지 않을 것으로 판단되어 누가 충성고객인지는 알 수 없을 것 같다. -> 그렇다면 충성고객을 만들기 위해서 마케팅 전략을 펼쳐야 하지 않을까..!?


- 가장 많이 구매가 이루어진 State는 Madhya Pradesh라는 곳으로 전체 구매의 1/5을 차지한다.

    * 마디아프라데시 주(영어: Madhya Pradesh, 힌디어: मध्य प्रदेश)는 ``인도 중앙부에 있는 주로서, 인도의 주 중 가장 넓다.`` 주도는 보팔이다. ``전형적인 농업주로 주민의 82%가 농업에 종사한다.`` 쌀·밀·잡곡을 생산하는데 쌀은 남부에서, 밀과 잡곡은 북에서 많이 나며 남서부의 마르와 대지에서는 면화가 재배된다. 동부에는 석탄, 철광석 등의 자원이 있어, 그 개발이 현재 진행 중이다. 이들 자원을 배경으로 동부의 공업화가 진행되었다. <a href='https://ko.wikipedia.org/wiki/%EB%A7%88%EB%94%94%EC%95%84%ED%94%84%EB%9D%BC%EB%8D%B0%EC%8B%9C%EC%A3%BC'>출처 :위키피디아 링크</a>


- 가장 많이 구매가 이루어진 City는 Indore이며 500번의 구매중 76번의 구매가 이루어진 곳이다.
    
    * 인도르(Indore)는 인도 마디아프라데시 주 서부에 있는 도시이다. 곡물과 연초의 집산지로서 인구는 258만 5,321명(2001)이다. 구 인도르 왕국의 수도로 번영을 누렸다. <a href='https://ko.wikipedia.org/wiki/%EC%9D%B8%EB%8F%84%EB%A5%B4'>출처 : 위키피디아 링크</a>

In [88]:
# State별로 주문이 얼마나 이루어졌는지 시각화 해보기
state_count = order_list.groupby('State').agg({'Order ID':'count'}).rename(columns={'Order ID':'Counts'})
state_count = state_count.sort_values(by=['Counts'], ascending=False)
state_count.head()

                Counts
State
Madhya Pradesh     101
Maharashtra         90
Rajasthan           32
Gujarat             27
Punjab              25

In [91]:
# 시각화 해보기
import chart_studio.plotly as pyo
import cufflinks as cf
cf.go_offline(connected=True)

state_count.iplot(kind='bar')

- 두 번째로 가장 많이 구매한 도시는 Maharashtra이다. <a href='https://ko.wikipedia.org/wiki/%EB%A7%88%ED%95%98%EB%9D%BC%EC%8A%88%ED%8A%B8%EB%9D%BC%EC%A3%BC'> 마하라슈트라주에 대한 자세한 설명</a>



- 상위 2개의 도시 구매만 합쳐도 191개로 전체 구매 횟수의 40%를 차지한다.



- <b>Q.의문점) 인도의 수도인 델리가 왜이렇게 구매가 낮을까? 델리에서 해당 웹사이트에 대한 홍보가 덜 된게 아닐까?</b>

In [94]:
# 구매수가 많은 도시는 구매가 많은 State와 연결이 될까?
state_city = order_list.groupby(['State','City']).agg({'Order ID':'count'}).rename(columns={'Order ID':'Counts'})
state_city = state_city.sort_values(by=['Counts'], ascending=False)
state_city.head(10)

                          Counts
State          City
Madhya Pradesh Indore         76
Maharashtra    Mumbai         68
Madhya Pradesh Bhopal         22
Maharashtra    Pune           22
West Bengal    Kolkata        22
Delhi          Delhi          22
Karnataka      Bangalore      21
Rajasthan      Jaipur         19
Gujarat        Ahmedabad      17
Bihar          Patna          16

- 가장 구매수가 많았던 도시인 Indore는 가장 구매수가 많았던 State인 Medhya Pradesh에 속하는 도시였다.
- 두 번째로 가장 많았던 도시도 Mumbai로 두번째로 가장 구매수가 많았던 Maharashtra에 속하는 도시였다.
- 도시별 구매 3,4위도 State별 구매 상위 1,2위에 속하는 도시들이였다.

### order_detail data

In [95]:
order_detail.head()

  Order ID  Amount  Profit  Quantity     Category      Sub-Category
0  B-25601  1275.0 -1148.0         7    Furniture         Bookcases
1  B-25601    66.0   -12.0         5     Clothing             Stole
2  B-25601     8.0    -2.0         3     Clothing       Hankerchief
3  B-25601    80.0   -56.0         4  Electronics  Electronic Games
4  B-25602   168.0  -111.0         2  Electronics            Phones